body {
font-family: 'Poppins', sans-serif;
background-color: #f4e7c2;
color: #000000;
}
.whatsapp-float {
position: fixed;
width: 60px;
height: 60px;
bottom: 25px;
right: 25px;
background-color: #25d366;
color: white;
border-radius: 50%;
text-align: center;
font-size: 32px;
box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
z-index: 1000;
transition: transform 0.3s ease;
}
.whatsapp-float:hover {
transform: scale(1.1);
color: #fff;
}
.whatsapp-float i {
margin-top: 15px;
}
header img {
border-radius: 8px;
}
.hero {
background: linear-gradient(135deg, #f4e7c2, #f4e7c2);
color: #2e4032;
padding: 100px 20px;
}
.btn-primary {
background-color: #fe9fb1;
border: none;
}
.btn-primary:hover {
background-color: #0f0c03;
}
/* PRODUCT GRID */
.product-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
gap: 2rem;
}
.product-card {
background: #fe9fb1;
border-radius: 15px;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
padding: 1rem;
text-align: center;
transition: transform 0.2s ease;
}
.product-card:hover {
transform: scale(1.03);
}
.product-card img {
width: 100%;
border-radius: 10px;
}
/*FOOTER*/
footer {
background-color: #f4e7c2;
}
footer a {
color: #070500;
text-decoration: none;
}
footer a:hover {
text-decoration: underline;
}

